<a href="https://colab.research.google.com/github/dianafvx17/daa_2021_1/blob/master/21%2C_23_y_26Octubre(EJEMPLOS_COMPLETOS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo(n):
  c=n+1
  d=c*n
  e=n*n
  total =c+e-d
  print(f"total={total}")
ejemplo(99999)

total=1

*considerando solo las asignaciones*

**T(n)= 4**

In [ ]:
def ejemplo (n):
  contador=0
  for i in range (n):
    for j in range (n):
      contador +=1
  return contador
ejemplo(20)

400

**T(n) =1+n^2**

una ecuacion cuadratica (for anidado) ya representa un gran peso de almacenamiento en ram

In [ ]:
def ejemplo(n): #n=4
  x=n*2         #x=8
  y =0          #y=0
  for m in range (100): #cien operaciones
    y=x-n       #y = 8 - 4 = 4
  return y      #siempre ser√° 4
ejemplo(10000)

10000

el rango de for es diferente de n, por lo tanto es valor fijo, es decir se usa 100 veces, por lo tanto:

**T(n)= 2 + 100**

**T(n)=102**

In [ ]:
def ejemplo(n):
  x = 3 * 3.1416 + n
  y = x + 3 * 3 - n
  z = x + y
  return z

ejemplo(9)

36.849599999999995

**T(n) = 3**

In [ ]:
def ejemplo(x):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n
ejemplo(10)

55

**T(n) = 1 + x**

In [ ]:
from time import time

def ejemplo(n):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
ejemplo(10)

Tiempo transcurrido: 0.0003080368 segundos.

1000

In [ ]:
from time import time

def ejemplo(n):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0

    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100,600,100):
  ejemplo(entrada)

Tiempo transcurrido: 0.0000813007 segundos.

0

**T(n) = 2 + n ^ 3**

# Ejemplo 7

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count

**T(n)= 1+25n**

In [ ]:
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2

**T(n)= 1 + 25n^2 +25n^2**

# Ejemplo 8

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)

**T(n)= 1+n**

**O(n)=n**

#Ejemplo 9

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador

**T(n)= 3+2n**
**o(n)=n**

#ejemplo 10

In [ ]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
          count += 1
    return count

#n= 3

000

n00 <-- aqui empieza el for interno

nn0 <--- aqui termina el for interno

nnn

#n = 4
0000

n000 <-- aqui empieza el for interno

nn00

nnn0 <--- aqui termina el for interno

nnnn

#n =5

00000

n0000 <-- aqui empieza el for interno

nn000

nnn00

nnnn0 <--- aqui termina el for interno

nnnnn

**T(n)=1+((n^2+n)/2)**

# Ejemplo 11

In [ ]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))

**T(n) =  2 + (2 Log 2 n)**

#Ejemplo 12

In [ ]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador

In [ ]:
def ejemplo12_bis( n=5 ):
    contador = 0
    contador = contador + ejemplo11(0) # 0
    contador = contador + ejemplo11(1) # 0
    contador = contador + ejemplo11(2) # 1
    contador = contador + ejemplo11(3) # 1
    contador = contador + ejemplo11(4) # 2
    return contador
ejemplo12_bis( 5 )

**T(n)=1+n(2+2log2(n))**

#Ejemplo 13

In [ ]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10):
        print(f" x = { bandera } ")
        bandera /= 10
        contador = contador + 1
    print(contador)
# T(x) = log10 x +1
ejemplo13( 1000 )

**T(n)=1+log10(x)**

#Ejemplo 14

In [ ]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

**T(n)=2log3(n)**

#Ejemplo 15

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))

**T(n)=1+n^2+log2(n)**