<a href="https://colab.research.google.com/github/dianafvx17/daa_2021_1/blob/master/21Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def ejemplo(n):
  c=n+1
  d=c*n
  e=n*n
  total =c+e-d
  print(f"total={total}")
ejemplo(99999)

total=1

*considerando solo las asignaciones*

**T(n)= 4**

In [2]:
def ejemplo (n):
  contador=0
  for i in range (n):
    for j in range (n):
      contador +=1
  return contador
ejemplo(20)

400

**T(n) =1+n^2**

una ecuacion cuadratica (for anidado) ya representa un gran peso de almacenamiento en ram

In [3]:
def ejemplo(n): #n=4
  x=n*2         #x=8
  y =0          #y=0
  for m in range (100): #cien operaciones
    y=x-n       #y = 8 - 4 = 4
  return y      #siempre ser√° 4
ejemplo(10000)

10000

el rango de for es diferente de n, por lo tanto es valor fijo, es decir se usa 100 veces, por lo tanto:

**T(n)= 2 + 100**

**T(n)=102**

In [5]:
def ejemplo(n):
  x = 3 * 3.1416 + n
  y = x + 3 * 3 - n
  z = x + y
  return z

ejemplo(9)

36.849599999999995

**T(n) = 3**

In [7]:
def ejemplo(x):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n
ejemplo(10)

55

**T(n) = 1 + x**

In [14]:
from time import time

def ejemplo(n):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
ejemplo(10)

Tiempo transcurrido: 0.0003080368 segundos.

1000

In [16]:
from time import time

def ejemplo(n):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0

    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100,600,100)
  ejemplo(entrada)

Tiempo transcurrido: 0.0000813007 segundos.

0

**T(n) = 2 + n ^ 3**